@model IEnumerable<Funko.Models.catalogo>
    @{
    ViewData["Title"] = "Catalogo";
}

<br>


<form class="input-group mb-3" asp-controller="Catalogo" asp-action="Index">
      <input type="text" name="searchString" class="form-control" placeholder="Búsqueda" aria-label="Búsqueda" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="submit" id="button-addon2"><font style="vertical-align:inherit;"><font style="vertical-align:inherit;">Búsqueda</font></font></button>
</form >


<h1>@ViewData["Title"]</h1>
<div class="container">
<h1>@ViewData["Message"]</h1>
<div class="row">
    <div class="col">
        <div id="product" class="mb-3">
            <div class="row">
                @foreach(var item in Model){
                    <div class="col-sm-4">
                        <div class="card-body">
                            <div class="card-img-actions">
                                <img class="img-responsive" width="200" height="250" src="/images/@item.ImagenName" alt="@item.ImagenName"/>
                            
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                            <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id">Añadir</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>

                        </div>
                    </div>
                
                }
            </div>
             
        </div>

    </div>

</div>
</div>
<br>
<br>
<br>